<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>CSV File To Comma Repair Tool</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="SitePoint">

    <link rel="stylesheet" href="css/styles.css?v=1.0">

</head>

<body>
    <h2>Upload your ;-separated file and get ,</h2>
    <form action="/" method="post" enctype="multipart/form-data">
        <input type="file" name="file" id="file">
        <input type="submit" value="Upload CSV" name="submit">
    </form>
    <p>&copy; 2019 Igor Kim | <a href="https://github.com/igorskh/csv-to-comma-web-converter" target="_blank">Source code on GitHub</a></p>
</body>

</html>